<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="MyimaginOrderExport_Orderexport::parent" title="Orderexport" module="MyimaginOrderExport_Orderexport" sortOrder="100" resource="MyimaginOrderExport_Orderexport::parent"/>
        <add id="MyimaginOrderExport_Orderexport::index" title="Orderexport Index" module="MyimaginOrderExport_Orderexport" sortOrder="10" action="orderexport/index" resource="MyimaginOrderExport_Orderexport::index" parent="MyimaginOrderExport_Orderexport::parent"/>
		
    </menu>
</config>